<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title></title>
</head>
<body>
   <div class="container">
      <form action="" class="form">
         <h2>SIGN IN</h2>
         <input type="email" name="email" class="box" placeholder="Enter Email">
         <input type="password" name="password" class="box" placeholder="Enter Password">
         <input type="submit" value="Sign in" id="submit">
         <a href="#">Forget Password?</a>
         <a routerLink="/registration">Create Account</a>
      </form>
      <div class="side">
         <img src="https://cdn-icons-png.flaticon.com/512/6681/6681204.png" alt="">
      </div>
   </div>
</body>
</html>